body {
  background: url("background.jpg");
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 0;
}
p {
  color: black;
}

h1 {
  color: rgb(192, 184, 42);
}
#message-el {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.button {
  width: 50%;
  height: 15%;
  background-color: rgb(192, 184, 42);
  border: none;
  margin-bottom: 2%;
}

#main {
  display: flex;
}
#text {
  display: flex;
}
.moneyCounter {
  margin-left: 10%;
  margin-right: 3%;
}

#newGame {
  visibility: hidden;
}

#rules {
  background-color: antiquewhite;
  display: flex;
}

#rulesButton {
  height: 10em;
  width: 10%;
  margin-left: 8%;
}
#closeRules {
  border-radius: 50%;
  width: 30%;
}
.text {
  width: 100%;
}
.alert-style {
  color: red; /* Add your desired styles here */
  background-color: black;
  height: 2em;
  font-weight: bold;
  padding-top: 0.5em;
}
